.bordered {
  border: 1px solid black;
  border-radius: 5px;
}

.list-container {
  width: 28%;
  padding: 15px;
  margin: 10px;
}

.list-button {
  margin: 12px;
}

.item-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 12px;
  margin: 10px;
}

.item-subcontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.item-description {
  width: 65%;
}

.form-container {
  padding: 12px;
  margin: 10px;
}

.form-group {
  width: 60%;
  display: flex;
  justify-content: space-between;
}